<div class="container" fxLayout="column">
	<div fxLayout="row" fxLayoutAlign="space-between center">
		<h2 style="margin: 0;">{{ id ? 'Update Course' : 'Add Course' }}</h2>
		<button mat-icon-button matDialogClose>
			<mat-icon>close</mat-icon>
		</button>
	</div>
	
	<mat-divider fxFlex class="mb-10"></mat-divider>

	<form [formGroup]="theForm" fxLayout="column" class="student-form">
		<mat-form-field appearance="outline">
			<mat-label>Course Name</mat-label>
			<input type="text" matInput placeholder="Course Name" formControlName="name">
			<mat-error *ngIf="theForm.controls['name'].errors">
				<div *ngIf="theForm.controls['name'].hasError('required')">Name is required.</div>
				<div *ngIf="theForm.controls['name'].hasError('minlength')">minimum length is 3 characters.</div>
				<div *ngIf="theForm.controls['name'].hasError('maxlength')">maximum length is 55 characters.</div>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Teacher</mat-label>
			<mat-select formControlName="teacher">
				<mat-option [value]="teacher._id" *ngFor="let teacher of teachers;">
					{{ teacher.fullName }}
				</mat-option>
			</mat-select>
			<mat-error *ngIf="theForm.controls['teacher'].hasError('required')">
				Teacher is required.
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Price</mat-label>
			<input (keydown)="integersOnly($event)" matInput placeholder="Price" formControlName="price">
			<mat-error *ngIf="theForm.controls['price'].errors">
				<div *ngIf="theForm.controls['price'].hasError('required')">Price is required.</div>
				<div *ngIf="theForm.controls['price'].hasError('min')">Price must be greator than 0</div>
				<div *ngIf="theForm.controls['price'].hasError('max')">Price can not be greater than 50000</div>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Duration</mat-label>
			<mat-select formControlName="duration">
				<mat-option *ngFor="let opt of durations" [value]="opt">{{ opt }}</mat-option>
			</mat-select>
			<mat-error *ngIf="theForm.controls['duration'].hasError('required')">
				duration is required.
			</mat-error>
		</mat-form-field>

		<div class="mb-3">
			<mat-form-field appearance="standard">
				<input matInput
					placeholder="New Course Outline Item" 
					[matChipInputFor]="chipList" 
					(matChipInputTokenEnd)="addOutlineItem($event)">

				<mat-error *ngIf="theForm.get('outline')?.hasError('required')">
					outline is required.
				</mat-error>
			</mat-form-field>

			<mat-chip-list #chipList aria-label="Course Outline Items" multiple class="w-100-p">
				<mat-chip *ngFor="let item of outlineItems" [removable]="true" (removed)="removeOutlineItem(item)">
					{{item}}
					<mat-icon matChipRemove>cancel</mat-icon>
				</mat-chip>
			</mat-chip-list>
		</div>

		<mat-form-field appearance="outline">
			<mat-label>Description</mat-label>
			<textarea type="text" rows="4" matInput placeholder="Description" formControlName="description"></textarea>
			<mat-error *ngIf="theForm.controls['description'].errors">
				<div *ngIf="theForm.controls['description'].hasError('required')">description is required.</div>
				<div *ngIf="theForm.controls['description'].hasError('minlength')">description must be greator than 10 charaters</div>
				<div *ngIf="theForm.controls['description'].hasError('maxlength')">description can not be greater than 1000 characters</div>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Audience (Who this course for)</mat-label>
			<textarea type="text" rows="4" matInput placeholder="Audience" formControlName="audience"></textarea>
			<mat-error *ngIf="theForm.controls['audience'].errors">
				<div *ngIf="theForm.controls['audience'].hasError('required')">audience is required.</div>
				<div *ngIf="theForm.controls['audience'].hasError('minlength')">audience must be greator than 10 charaters</div>
				<div *ngIf="theForm.controls['audience'].hasError('maxlength')">audience can not be greater than 1000 characters</div>
			</mat-error>
		</mat-form-field>
	</form>

	<div fxLayoutAlign="end">
		<button mat-raised-button color="primary" [disabled]="theForm.invalid || !theForm.dirty" (click)="onSave()">Save</button>
	</div>
</div>