<mat-toolbar class="toolbar">
    <nav fxFlex="100" fxLayout="row" fxLayoutAlign="end" style="height: 100%;">
        <div class="toolbar-nav-item" fxLayoutAlign="center center" routerLink="settings">
            <mat-icon>settings</mat-icon>
        </div>

		<div class="toolbar-nav-item" fxLayoutAlign="center center" [matMenuTriggerFor]="userMenu">
            <img [src]="user?.photo || '/assets/images/avatar.jpg'" alt="Avatar" class="avatar">
			<div class="user-name">{{ user?.name }}</div>
        </div>
		
		<mat-menu #userMenu="matMenu">
			<button mat-menu-item (click)="onLogout()">Logout</button>
		</mat-menu>
    </nav>
</mat-toolbar>