<mat-toolbar class="toolbar">
    <nav fxFlex="100" fxLayout="row" fxLayoutAlign="end" style="height: 100%;">
        <div class="toolbar-nav-item" fxLayoutAlign="center center">
            <mat-icon>notifications</mat-icon>
        </div>

        <div class="toolbar-nav-item" fxLayoutAlign="center center">
            <mat-icon>mark_email_unread</mat-icon>
        </div>

        <div class="toolbar-nav-item" fxLayoutAlign="center center">
            <img src="/assets/images/avatar.jpg" alt="Avatar" class="avatar">
        </div>    
    </nav>
</mat-toolbar>