.toolbar {
    height: 55px;
    width: 100%;

    .navigation {
        width: 100%;

        ul {
            list-style: none;
        }
    
        ul li {
            cursor: pointer;
        }

        .active {
            border-bottom: 2px solid #ccc;
        }

        .avatar {
            height: 45px;
            border-radius: 50%;
        }
    }
}

.main-content {
    height: calc(100% - 133px);
    padding: 20px;
}