.alert-dialog {
	display: flex;
	flex-direction: column;
    border-radius: 4px;
	align-items: center;
	
	.title {
		font-size: 1.2rem;
		font-weight: 500;
	}

	.action-btn {
		flex: 0 1 30%;
	}

	.error {
		border-radius: 50%;
		width: 60px;
		height: 60px;
		
		border: 2px solid #f27474;
		color: #f27474;

		mat-icon {
			font-size: 28px;
			height: 28px;
			width: 28px;
		}
	}
}