<div class="alert-dialog">
	<div class="circle mb-3" [class]="alert.type" fxLayoutAlign="center center">
		<ng-container *ngIf="alert.type === 'warning'; else otherIcons">
			<div style="font-size: 1.5rem;">!</div>
		</ng-container>
		<ng-template #otherIcons>
			<mat-icon>{{ alert.icon }}</mat-icon>
		</ng-template>
	</div>

	<div class="title mb-3">{{alert?.title}}</div>
	<div class="mb-3" *ngIf="alert.message">{{alert.message}}</div>

	<div *ngIf="alert?.type === 'confirm'; else normal" fxLayout="row" fxLayoutAlign="center">
		<button mat-raised-button color="primary" class="mr-3" (click)="onYes()">Yes</button>
		<button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
	</div>

	<ng-template #normal>
		<button mat-raised-button color="primary" (click)="onYes()">Ok</button>
	</ng-template>
</div>